* {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.gridbox {
    background-color: inherit;
}

#container {
    border: 1px solid black;
    display: grid;
    margin: 2em auto;
    gap: 2px;
    width: 80vh; /* Ideally this should be the largest square possible */
    height: 80vh;
}